{% extends 'base.html.twig' %}

{% block title %}Erreur 404{% endblock %}

{% block body %}
    <h1>Page non trouvée</h1>

    <p>
        La page demandée n'existe pas!!! <a href="{{ path('app_front') }}">Retourner à la page d'accueil</a>.
    </p>
{% endblock %}